@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-[10px] flex flex-col max-w-[1280px] md:px-[20px] xl:p-0 xl:mx-auto;
}

h1 {
  @apply text-[30px] md:text-[35px];
}

h2 {
  @apply text-[25px] md:text-[30px];
}

h3 {
  @apply text-[20px] md:text-[25px];
}

p {
  @apply text-[16px];
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  @apply text-link hover:text-linkHover;
  text-decoration: inherit;
}
a:hover {
  transition: all 0.5s;
  cursor: pointer;
}

.base-hide{
  opacity: 0;
  filter: blur(5px);
}

.hidden-left{
  @apply base-hide;
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden-right{
  @apply base-hide;
  transform: translateX(100%);
  transition: all 1s;
}

.hidden-center{
  @apply base-hide;
  transform: translateY(100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.linebreak{
  line-break: strict;
}